.new-credit {
    height: 60vh;
}

.new-credit-title {
    text-align: center;
    margin: 10vh 0;
}

.container-form {
    margin: 10vh 0;
}

// h1 {
//     
// }

// div {
//     margin: 5vh 0;
// }