.new-credit {
    min-height: calc(100vh - 130px - 166px);

    .new-credit-title {
        text-align: center;
        margin: 8vh 0;
    }

    .container-form {
        margin: 10vh 0;

        .input-login {
            max-width: 100vw;
        }
        .signin-btn {
            max-width: 100vw;
        }
    }

    h2 {
        margin: 3vh 0 0;
    }
}

@media screen and (max-width: 768px) {
    .new-credit-title {
        font-size: 1.5rem;
    }
}