// Colores

:root{
    --white: #fff;
    --yellow: #feb800;
    --verde: #7e8c03;
    --red: #d5070b;
    --orange: #ff9400;
    --purp: #850751;
    --negroAzabache: #1F1B1C;
    --widthCont: 350;
}



