.input-login{
    @include exo-font;
    line-height: toRem(40); // EL texto siempre este en el centro del mismo alto del input
    width: toRem(var(--widthCont));
    height: toRem(35);
    font-size: toRem(15);
    border-radius: 0.3125rem;
    border: toRem(2) solid var(--negroAzabache);
    padding: 0 toRem(40) 0 toRem(10);

    &:focus{
        border: toRem(2) solid var(--red);
        outline: none;
        box-shadow: toRem(3) 0 toRem(30) rgba(163,163,163, 0.6);
    }

    &:hover{
        outline: none;
        box-shadow: toRem(3) 0 toRem(30) rgba(163,163,163, 0.6);
    }
}

.visible-x{
    opacity: 1 !important;

}

.visible-ok{
    opacity: 1 !important;
}

.icon-validate-cancel{
    position: absolute;
    right: toRem(10);
    bottom: toRem(8);
    z-index: 100;
    font-size: toRem(16);
    color: var(--red);
    opacity: 0;

}

.icon-validate-ok{
    position: absolute;
    right: toRem(10);
    bottom: toRem(8);
    z-index: 100;
    font-size: toRem(16);
    color: rgb(109, 172, 15);
    opacity: 0;
}

.group-input{
    position: relative;
    z-index: 90;
}

