.container{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    font-size: toRem(15);
    padding-top: 0%;
    margin-top: 0px;
    margin: toRem(30) auto;
    text-align: center;
    @include exo-font;
    //background: linear-gradient(159.53deg, rgb(5, 6, 11) 4.03%, rgb(27, 32, 53) 23.26%, rgb(10, 12, 15) 93.99%);
    width: 80%;
    position: relative;

    & .separator {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1.25rem;
        font-weight: 400;
        font-size: 1rem;

    }

    & hr {
        flex: 1;
        background: var(--verde);
        border: 0.125rem solid var(--verde);
        ;

    }

}

.title-login{
    @include exo-font;
    color: rgb(14, 13, 13);
    font-size: toRem(20);
    font-weight: 500;

}

.container-img{
    margin: toRem(0) auto;
    width: toRem(400);
    display: flex;
    justify-content: center;
}

.img-reg {
    max-width: toRem(150);
    max-height: toRem(150);
    padding-top: toRem(5);
}

.container-title{
    display: block;
    columns: toRem(400);
    margin: 0 auto;
    width: toRem(400);
}

.container-input{
    display: block;
    margin: 0 auto;
    width: toRem(400);
}

.label-login{
    @include exo-font;
    float: left !important;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(12, 12, 12);
    padding: 0.8rem 0 0.1rem 0;
}

.title-in{
    float: left;
    font-size: 30px;
    color: rgb(15, 15, 15);
    font-weight: 700;
}

.divisor{
    width: 100%;
    height: toRem(3);

}

.icon-login{
    padding-top: 0;
    padding-bottom: 0;
    color:  #f15245 !important;
}

.forgot-login{
    display: block;
    columns: toRem(400);
    margin: 0 auto;
    width: toRem(140);

    & .forgot-pass{
        color: var(--red);
        font-size: toRem(14);
        text-decoration: none;
                 
    }

    & .forgot-pass:hover{
        cursor: pointer;
    }

    

    & .div-forget{
        margin-top: 0;
        margin-bottom: toRem(10);
        background: rgb(206, 137, 9);
        height: toRem(0.9);
        border: 0;
    }


}

.error-login{
    background: rgba(167, 8, 8,0.9);
    border-radius: 0.3125rem;

    & .text-error{
        font-size: toRem(13);
        padding: toRem(5);
        font-weight: 400;
    }
    & .icon-error{
        line-height: toRem(20);
        font-size: toRem(16);
    }
}

.msg-error-email-reg{
    
    margin: toRem(5) 0 0 0;
    padding-left: toRem(10);
    text-align: left;
    font-size: toRem(12);
    color: var(--red);
    
}