.container-register{
    padding: 0px;
    margin: 0px;
}

.contenedor-register {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: toRem(10);
        font-size: toRem(15);
        @include exo-font;
        //background: linear-gradient(159.53deg, rgb(5, 6, 11) 4.03%, rgb(27, 32, 53) 23.26%, rgb(10, 12, 15) 93.99%);
        position: relative;
        margin: 5px auto;
        
        & .label-input{
            display: grid;
            grid-template-rows: repeat(2,1fr);
            width: 100%;


        }
}


.container-img-reg{
    margin: toRem(15) auto;
    width: toRem(var(--widthCont));
    display: flex;
    justify-content: center;
    margin: toRem(20) auto;
}

.img-reg {
    min-width: toRem(100);
    max-width: toRem(150);
    max-height: toRem(150);
    padding-top: toRem(5);
}

.container-title{
    display: block;
    columns: toRem(400);
    margin: 0 auto;
    width: toRem(var(--widthCont));
}

.container-input{
    display: block;
    margin: 0 auto;
    width: toRem(var(--widthCont));
}

.label-login{
    @include exo-font;
    float: left !important;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(12, 12, 12);
    padding: 0.8rem 0 0.1rem 0;
}

.title-in{
    float: left;
    font-size: 30px;
    color: rgb(15, 15, 15);
    font-weight: 700;
}

.divisor{
    width: 100%;
    height: toRem(3);

}

.icon-login{
    padding-top: 0;
    padding-bottom: 0;
    color:  #f15245 !important;
}

.forgot-login{
    display: block;
    columns: toRem(400);
    margin: 0 auto;
    width: toRem(140);

    & .forgot-pass{
        color: var(--red);
        font-size: toRem(14);
        text-decoration: none;
                 
    }

    & .forgot-pass:hover{
        cursor: pointer;
    }

    

    & .div-forget{
        margin-top: 0;
        margin-bottom: toRem(10);
        background: rgb(206, 137, 9);
        height: toRem(0.9);
        border: 0;
    }


}

.error-login{
    background: rgba(167, 8, 8,0.9);
    border-radius: 0.3125rem;
    width: toRem(var(--widthCont));
    margin: 0 auto;


    & .text-error{
        font-size: toRem(13);
        padding: toRem(5);
        font-weight: 400;
        color: white;
        text-align: center;

    }
    & .icon-error{
        color: white;
        line-height: toRem(20);
        font-size: toRem(16);
    }
}

.msg-error-email-reg{
    
    margin: toRem(5) auto;
    padding-left: toRem(10);
    text-align: left;
    font-size: toRem(12);
    color: var(--red);
    
}

@media (max-width: 500px) {
    :root{
        --widthCont: 280;
    }
        
}

@media (max-width: 1200px) {
    
    .contenedor-register {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
        
}

@media (max-width: 770px) {
    
    .contenedor-register {
        width: toRem(var(--widthCont));
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
        
}